<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">สมาชิกในกลุ่ม</h1>
        </div>
      </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

          <div class="col">
            <div class="card shadow-sm">
                <img src="assets/images/Team/best.jpg" class="d-block w-100" alt="..." height="550">
              <div class="card-body">
                <h2>นายธนวัช บินอุมา</h2>
                <p class="card-text"></p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
                <img src="assets/images/Team/kan.jpg" class="d-block w-100" alt="..." height="550">
              <div class="card-body">
                <h2>นายธนภัทร เเดงชอบกิจ</h2>
                <p class="card-text"></p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="assets/images/Team/kla.jpg" class="d-block w-100" alt="..." height="550">
              <div class="card-body">
                <h2>นายณัฐดนัย ธรรมมา</h2>
                <p class="card-text"></p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="assets/images/Team/fluk.jpg" class="d-block w-100" alt="..." height="550">
              <div class="card-body">
                <h2>นายนราธิป รัตนมณี</h2>
                <p class="card-text"></p>
                <div class="d-flex justify-content-between align-items-center">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </main>

