<div id="carouselExampleFade" class="carousel slide carousel-fade">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/images/slide/01.jpg" class="d-block w-100" alt="..." height="450px">
      </div>
      <div class="carousel-item">
        <img src="assets/images/slide/02.webp" class="d-block w-100" alt="..." height="450px">
      </div>
      <div class="carousel-item">
        <img src="assets/images/slide/03.jpg" class="d-block w-100" alt="..." height="450px">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">อุปกรณ์ Iot ที่ใช้ทําชิ้นงาน</h1>
          <p class="lead text-body-secondary">ระบบแสดงจํานวนที่จอดรถ</p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  
          <div class="col">
            <div class="card shadow-sm">
                <img src="assets/images/Product/Product1.jpg" class="d-block w-100" alt="..." height="420">
              <div class="card-body">
                <h1>Esp32 Board</h1>
                <p class="card-text">ESP32 คือ wifi microcontroller ที่ถูกพัฒนาต่อจาก ESP8266 โดยเพิ่ม CPU เป็น 2 core, Wi-Fi ที่เร็วขึ้น, มีขา GPIO ให้ใช้งานมากขึ้น และรองรับ Bluetooth อีกด้วย  นอกจากนี้ ESP32 ยังมาพร้อมกับ touch-sensitive pins ที่สามารถใช้ปลุก ESP32 จากโหมด deep sleep และยังมี hall effect sensor และ temperature sensor ในตัว (รุ่นล่าสุดของ ESP32 ไม่มี temperature sensor ในตัวอีกแล้ว) และแน่นอนว่าด้วยคุณสมบัติที่ดีกว่ามากจึงทำให้ ESP32 มีราคาแพงกว่า ESP8266 พอสมควร</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card shadow-sm">
                <img src="assets/images/Product/Product2.jpg" class="d-block w-100" alt="..." height="420">
              <div class="card-body">
                <h1>Buzzer</h1>
                <p class="card-text">Ultrasonic Sensor คือ เซ็นเซอร์ที่ใช้สำหรับตรวจจับวัดถุต่างๆ โดยอาศัยหลักการสะท้อนของคลื่นความถี่เสียง และ คำนวณหาค่าระยะทางได้จากการเดินทางของคลื่นและนำมาเทียบกับเวลา ด้วยกลไกดังกล่าวทำให้เราสามารถนำมาประยุกต์ใช้งานในรูปแบบต่างๆได้อย่างมากมาย  เช่น งานวัดระดับน้ำ งานตรวจจับชิ้นงาน งานตรวจจับความหนาของวัตถุ</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
                <img src="assets/images/Product/Product3.jpg" class="d-block w-100" alt="..." height="420">
              <div class="card-body">
                <h1>LED</h1>
                <p class="card-text">LED คือ (Light Emitting Diode) หรือ 'ไดโอดชนิดเปล่งแสง' ที่สามารถนำไปติดตั้งในอุปกรณ์อิเล็กทรอนิกส์เพื่อแสดงสถานะ รวมถึงเพื่อใช้เป็นแหล่งกำเนิดแสงแบบต่าง ๆ ซึ่งที่เราคุ้นเคยกันมากที่สุดก็คือ หลอดไฟ</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>
